@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<div class="landing-page-grid-container">
    <div class="SearchPet"></div>
    <div class="Slogan">
        <p>Because we care about your pet</p>
    </div>

</div>


@{
    var token = HttpContextAccessor.HttpContext.Session.GetString("FirebaseToken");
}

<script>
    const key = "@Html.Raw(token)";
    console.log(key);
    firebase.auth().signInWithCustomToken(key).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // ...
    });
</script>




