@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IndexViewModel


<div class="landing-page-grid-container">
    <div class="SearchPet">
        <input />
    </div>
    <div class="Slogan"></div>

</div>










