@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<div class="landing-page-grid-container">
    <div class="SearchPet"></div>
    <div class="Slogan"></div>

</div>










