<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - petnb</title>

    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/vendor.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

    <nav class="custom-navbar navbar-expand-md">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom-menu-items" id="collapsibleNavbar">
            <div class="logo-placeholder">
                <div class="logo-background">
                    <a class="navbar-brand petnb-logo" asp-controller="Home" asp-action="Index"></a>
                </div>
             </div>
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="menu-underline nav-item-underline" href="#">Find petsitter</a>
                </li>
                <li class="nav-item">
                    <a class="menu-underline nav-item-underline" href="#">Become petsitter</a>
                </li>
                <li class="nav-item">
                    <a class="menu-underline nav-item-underline" href="#">About</a>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")

        </div>

    </nav>





    @RenderBody()



    <script src="~/vendor.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
