@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using petnb.DTL.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ var userName = "";} 

@if (SignInManager.IsSignedIn(User))
{
   
  userName = UserManager.GetUserName(User).Split("@")[0];
     
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </li>
    </ul>
</form>
    <div id="chatWidget">
        <div id="allMessages">

        </div>


        <form id="msgForm" method="POST">
            <div id="msgbtnwrap">
                <textarea type="text" id="message" name="Message"></textarea>
                <button id="sendMsg" type="submit"><svg class="svgIcon" height="28px" width="26px" version="1.1" viewBox="0 0 16 16" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px"><path d="M11,8.3L2.6,8.8C2.4,8.8,2.3,8.9,2.3,9l-1.2,4.1c-0.2,0.5,0,1.1,0.4,1.5C1.7,14.9,2,15,2.4,15c0.2,0,0.4,0,0.6-0.1l11.2-5.6 C14.8,9,15.1,8.4,15,7.8c-0.1-0.4-0.4-0.8-0.8-1L3,1.1C2.5,0.9,1.9,1,1.5,1.3C1,1.7,0.9,2.3,1.1,2.9L2.3,7c0,0.1,0.2,0.2,0.3,0.2 L11,7.7c0,0,0.3,0,0.3,0.3S11,8.3,11,8.3z" fill="#BEC3C9"></path></svg></button>
            </div>
        </form>
    </div>

}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
</ul>
}
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCoKatVz8xlteNJGwY5hg_tDWEQ36foOGI",
        authDomain: "frontend-69cae.firebaseapp.com",
        databaseURL: "https://frontend-69cae.firebaseio.com",
        projectId: "frontend-69cae",
        storageBucket: "frontend-69cae.appspot.com",
        messagingSenderId: "574904259542"
    };
    firebase.initializeApp(config);
    const userName = "@Html.Raw(userName)";

</script>
<script src="js/chat.js"></script>