@using System.Globalization
@using petnb.DTL.Data.Models.Enums
@model petnb.DTL.Data.Models.PetSitterOffer

@{
    ViewData["Title"] = "Create";
}

<div class="grid-container-ad">
    <div class="progress-bar-left"></div>
    <div class="progress-bar-center">
        <div class="wrapper-bar">

            <img class="progress-logo" src="~/images/P.svg">
            <div class="percent" id="process-bar-text">0%</div>
            <div class="progress-bar-bar">
                <div class="bar" id="process-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <!--FIRST SCREEN: Personal details-->
    <div class="progress-bar-right"></div>
    <div class="fill-ad" id="completion-0">
        <div class="header-petad">Personal details</div>
        <div class="form-group col-12">

            <!--Name-->
            <div class="personal-details-subheaders">
                <label>Your full name:</label>
                <form action="">
                    <input type="text" class="form-control" name="firstname" value="">
                </form>
            </div>

            <!--Date of birth-->
            <div class="personal-details-subheaders">
                <label>Your date of birth:</label>
                <form action="">
                    <input type="date" class="date-of-birth-box" name="birth-date">
                </form>
            </div>

            <!--Adress-->
            <div class="personal-details-subheaders">
                <form class="col-12">
                    <div class="form-row">
                        <label class="col-sm-2 col-form-label">Street</label>
                        <input type="text" class="form-control col-sm-4" />

                        <label class="col-sm-2 col-form-label">Zip code</label>
                        <input type="text" class="form-control col-sm-4" />
                    </div>
                </form>
            </div>

            <!--Upload picture-->
            <div class="personal-details-subheaders">
                <form>
                    <label class="header">Upload profile picture:</label>
                    <input id="image" class="form-control" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                </form>
            </div>

            <!-- JavaScript Screen change-->
            <div class="user-type-select-container">
                <button class="btn-screen-change-next" onclick="ChangeView(0, 1)">Next</button>
            </div>
        </div>
    </div>

    <!--SECOND SCREEN: Select the pet you would like to sit -->
    <div class="fill-ad" id="completion-1" style="display: none">
        <div class="header-petad">Select the pets that you would like to sit 😻</div>
        <div class="form-register form-group ">

            <!--Animal checkboxes-->
            <div class="form-group ">
                <label></label>
                <div class="user-type-select-container">

                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="dog" name="dog" id="dog" class="dog" />
                        <label class="dog-label" for="type-dog"></label>
                        <label class="pet-label">Dog</label>

                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="cat" id="cat" class="cat" />
                        <label class="cat-label" for="type-cat"></label>
                        <label class="pet-label">Cat</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="fish" id="fish" class="fish" />
                        <label class="fish-label" for="type-fish"></label>
                        <label class="pet-label">Fish</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="bird" id="bird" class="bird" />
                        <label class="bird-label" for="type-bird"></label>
                        <label class="pet-label">Bird</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="hamster" id="hamster" class="hamster" />
                        <label class="hamster-label" for="type-hamster"></label>
                        <label class="pet-label">Rodents</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="reptile" id="reptile" class="reptile" />
                        <label class="reptile-label" for="type-reptile"></label>
                        <label class="pet-label">Reptiles</label>
                    </div>
                </div>
            </div>

            <!--JavaScript Screen change-->
            <div class="user-type-select-container">
                <button class="btn-screen-change-next" onclick="ChangeView(1, 0)">Previous</button>
                <button class="btn-screen-change-next" onclick="ChangeView(1, 2)">Next</button>
            </div>
        </div>
    </div>

    <!--Third screen : Have you been a pet sitter before?-->
    <div class="fill-ad" id="completion-2" style="display: none">
        <div class="header-petad"> Experience 💡 </div>

        <div class="experience-details-subheaders"> Have you been a pet sitter before? </div>

        <form>
            <input type="radio" name="experience" value="experienced"> Yes <br>
            <input type="radio" name="experience" value="notexperienced"> No <br>
        </form>

        <div class="experience-details-subheaders"> How would you rate your pet sitting experience?</div>


        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label class="rate-5" for="star5" title="text">➎ </label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label class="rate-4" for="star4" title="text">➍ </label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label class="rate-3" for="star3" title="text">➌ </label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label class="rate-2" for="star2" title="text">➋ </label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label class="rate-1" for="star1" title="text">➊ </label>
        </div>


        <div class="form-group ">
            <label></label>
            <div class="user-type-select-container">
                <button class="btn-screen-change-next" onclick="ChangeView(2,1)">Previous</button>
                <button class="btn-screen-change-next" onclick="ChangeView(2,3)">Next</button>
            </div>
        </div>
    </div>


    <!--Fourth screen : Tell us more about yourself!-->
    <div class="fill-ad" id="completion-3" style="display: none">
        <div class="header-petad"> Tell us more about yourself! ✍️ </div>

        <form action="">
            <input class="text-area-yourself" placeholder="Type here.." type="text-area" value="">
        </form>

        <div class="user-type-select-container">
            <button class="btn-screen-change-next" onclick="ChangeView(3,2)">Previous</button>
            <button class="btn-screen-change-next" onclick="ChangeView(3,4)">Next</button>
        </div>
    </div>
</div>


<div class="fill-ad" id="completion-4" style="display: none">
    <div class="header-petad"> Wow, your profile looks pawesome! 🐾 </div>

    <div class="user-type-select-container">
        <button class="btn-screen-change-next" onclick="ChangeView(4,3)">Previous</button>
        <button class="btn-screen-change-next" onclick="">Done</button>
    </div>
</div>
</div>


<!--Function to switch screens, ´when click on button 'previous' or 'next' it takes in 2 (parameters) screens and selects which one to display-->
<script>
    function ChangeView(completionLevelToHide, completionLevelToDisplay) {
        var completionIdToHide = "completion-" + completionLevelToHide;
        var completionIdToDisplay = "completion-" + completionLevelToDisplay;
        document.getElementById(completionIdToHide).style.display = "none";
        document.getElementById(completionIdToDisplay).style.display = "";
        document.getElementById("process-bar").style.width = completionLevelToDisplay * 25 + "%";
        document.getElementById("process-bar-text").innerText = completionLevelToDisplay * 25 + "%";
    }
</script>
