@using System.Globalization
@using petnb.DTL.Data.Models.Enums
@model petnb.Models.AccountViewModels.AccountCompletionViewModel


<div class="grid-container-ad">
        <div class="progress-bar-left"></div>
        <div class="progress-bar-center">
            <div class="wrapper-bar">

                <img class="progress-logo" src="~/images/P.svg">
                <div class="percent" id="process-bar-text">0%</div>
                <div class="progress-bar-bar">
                    <div class="bar" id="process-bar" style="width: 0%"></div>
                </div>
            </div>
        </div>
        <div class="progress-bar-right"></div>
    <form asp-action="AccountCompletion" method="post" style="grid-area: fill-ad" enctype="multipart/form-data">

        <!--FIRST SCREEN: Personal details-->

        <div class="fill-ad" id="completion-0">
            <div class="header-petad">Personal details</div>
            <div class="account-completion-wrapper form-group col-12 remove-padding-left">

                <!--Name-->
                <div class="personal-details-subheaders">
                    <label>Your full name:</label>
                    <input asp-for="FullName" class="form-control-account" name="FullName" >
                </div>

                <!--Date of birth-->
                <div class="personal-details-subheaders">
                    <label>Your date of birth:</label>
                    <input asp-for="Birthdate" type="date" class="date-of-birth-box" name="Birthdate">
                </div>

                <!--Address-->
                <div class="personal-details-subheaders">
                    <div class="col-12 remove-padding-left">
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label">Street</label>
                            <input asp-for="Street" type="text" class="form-control-account col-sm-4" />

                            <label class="remove-padding-left col-sm-2 col-form-label">Zip code</label>
                            <input asp-for="Zipcode" type="text" class="form-control-account col-sm-4" />
                        </div>
                    </div>
                </div>

                <!--Upload picture-->
                <div class="personal-details-subheaders">

                    <label class="header">Upload profile picture:</label>
                    <input asp-for="ProfileImage" id="ProfileImage" name="ProfileImage" class="form-control-account" accept="image/*">


                </div>

            </div>
        </div>


        @*<!--SECOND SCREEN: Select the pet you would like to sit -->
        <div class="fill-ad" id="completion-1" style="display: none">
            <div class="header-petad">Select the pets that you would like to sit 😻</div>
            <div class="account-completion-wrapper form-group col-12 remove-padding-left">

                <!--Animal checkboxes-->
                <div class="user-type-select-container">

                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="dog" name="dog" id="dog" class="dog" />
                        <label class="dog-label" for="dog"></label>
                        <label class="pet-label">Dog</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="cat" id="cat" class="cat" />
                        <label class="cat-label" for="cat"></label>
                        <label class="pet-label">Cat</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="fish" id="fish" class="fish" />
                        <label class="fish-label" for="fish"></label>
                        <label class="pet-label">Fish</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="bird" id="bird" class="bird" />
                        <label class="bird-label" for="bird"></label>
                        <label class="pet-label">Bird</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="hamster" id="hamster" class="hamster" />
                        <label class="hamster-label" for="hamster"></label>
                        <label class="pet-label">Rodents</label>
                    </div>
                    <div class=" d-flex flex-column">
                        <input type="checkbox" value="reptile" name="reptile" id="reptile" class="reptile" />
                        <label class="reptile-label" for="reptile"></label>
                        <label class="pet-label">Reptiles</label>
                    </div>
                </div>

                <!--JavaScript Screen change-->
                <button class="btn-screen-change-previous" onclick="ChangeView(1, 0)">Previous</button>
                <button class="btn-screen-change-next" onclick="ChangeView(1, 2)">Next</button>
            </div>
        </div>
        *@
        <!--Third screen : Experience-->
        <div class="fill-ad" id="completion-1" style="display: none">
            <div class="header-petad"> Experience 💡 </div>
            <div class="account-completion-wrapper form-group col-12 remove-padding-left">
                <div class="experience-details-subheaders"> Have you been a pet sitter before? </div>
                <div class="form-group">
                    <input asp-for="WasPetSitter" type="radio" name="WasPetSitter" value="true"> Yes <br>
                    <input asp-for="WasPetSitter" type="radio" name="WasPetSitter" value="false"> No <br>
                </div>

                <div class="experience-details-subheaders"> How would you rate your pet sitting experience?</div>
                <div class="rate">
                    <input asp-for="PetSitterExperienceEnum" type="radio" id="star5" name="PetSitterExperienceEnum" value="5" />
                    <label class="rate-5" for="star5" title="text">➎ </label>
                    <input asp-for="PetSitterExperienceEnum" type="radio" id="star4" name="PetSitterExperienceEnum" value="4" />
                    <label class="rate-4" for="star4" title="text">➍ </label>
                    <input asp-for="PetSitterExperienceEnum" type="radio" id="star3" name="PetSitterExperienceEnum" value="3" />
                    <label class="rate-3" for="star3" title="text">➌ </label>
                    <input asp-for="PetSitterExperienceEnum" type="radio" id="star2" name="PetSitterExperienceEnum" value="2" />
                    <label class="rate-2" for="star2" title="text">➋ </label>
                    <input asp-for="PetSitterExperienceEnum" type="radio" id="star1" name="PetSitterExperienceEnum" value="1" />
                    <label class="rate-1" for="star1" title="text">➊ </label>
                </div>

            </div>
        </div>


        <!--Fourth screen : Tell us more about yourself!-->
        <div class="fill-ad" id="completion-2" style="display: none">
            <div class="header-petad"> Tell us more about yourself! ✍️ </div>
            <div class="account-completion-wrapper form-group col-12 remove-padding-left">

                <textarea asp-for="Bio" class="text-area-yourself" placeholder="Type here.." type="text-area" value=""></textarea>
 
            </div>
        </div>

        <div class="fill-ad" id="completion-3" style="display: none">
            <div class="header-petad"> Pawsome 🐾 Your profile is ready! </div>
            <div class="account-completion-wrapper form-group col-12 remove-padding-left">

            </div>
        </div>
    <div class="col-12 remove-padding-left" style="grid-area: fill-ad">
        <a id="btn-previous" style="display:none" class="btn-screen-change-previous">Previous</a>
        <a id="btn-next" class="btn-screen-change-next">Next</a>
        <input type="submit" value="Create" class="btn-screen-change-next" style="display: none" id="btn-create">
    </div>
    </form>
</div>


<script>

    //variables
    const allViews = document.getElementsByClassName('fill-ad');
    let currentStage = 0;
    const btnNext = document.getElementById('btn-next');
    const btnPrev = document.getElementById('btn-previous');
    const btnCreate = document.getElementById('btn-create');
    const progressBar = $('#process-bar');
    const progressText = $('#process-bar-text');
    // const progressBar = document.getElementById("process-bar");

    const progressPercent = document.getElementById("process-bar-text");

    //events
    btnNext.addEventListener('click', nextView);
    btnPrev.addEventListener('click', previousView);
    //calls


    function nextView() {
        allViews[currentStage].style.display = 'none';
        currentStage++;
        allViews[currentStage].style.display = 'block';
        hideBtns();
        animateProgressBar()
    }

    function previousView() {
        allViews[currentStage].style.display = 'none';
        currentStage--;
        animateProgressBar(true);
        allViews[currentStage].style.display = 'block';
        hideBtns();    
    }

    function hideBtns() {
        if (currentStage === 0) {
            btnPrev.style.display = 'none';
        } else {
            btnPrev.style.display = '';
        }
        if (currentStage === 3) {
            btnNext.style.display = 'none';
            btnCreate.style.display = 'block';


        } else {
            btnNext.style.display = '';
            btnCreate.style.display = 'none';

        }
    }

    function animateProgressBar(back) {
        progressBar.animate({
            width: `${currentStage * 33.333333333333333333}%`,
            duration: 500
        });

        var percent = Math.ceil((currentStage - 1) * 33.333333333333333333);
        if (back === true) {
            var percent = Math.ceil((currentStage) * 33.333333333333333333)
        }
        progressText.text((Math.ceil(currentStage * 33.333333333333333333)) + '%');
        progressText.prop('Counter', percent).animate({
            Counter: progressText.text()
        }, {
                duration: 500,
                easing: 'swing',
                step: function () {
                    progressText.text(Math.ceil(this.Counter) + '%');
                }
            });

    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
</script>
