
@{
    ViewData["Title"] = "ProfileDetails";
}
<div class="profile-details-background">
<div class="profile-details-placeholder">
    <h2 class="profile-details-header">Profile details</h2>
    <table class="profile-details-table">
        <tr><th>Name:</th><td>Maureen Koopman</td></tr>
        <tr><th>E-mail:</th><td>Maureenkoopman9@gmail.com</td></tr>
        <tr><th>Birthday:</th><td>11/11/2011</td></tr>
        <tr><th>Street:</th><td>Silkeborgvej 78</td></tr>
        <tr><th>Zip code:</th><td>8000</td></tr>
        <tr><th>Experience:</th><td>2/5</td></tr>
        <tr><th>Profile text:</th><td>Hi my name is Mau, I like hamsters</td></tr>
        @* Profile picture is already in top right corner, think it's silly to show twice *@
    </table>
</div>
</div>

