@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="register-grid">
    
    <div class="register">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4 class="name-heading2">Register with</h4>
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-register">
                <label asp-for="Email" class="quck"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-register">
                <label asp-for="Password" class="quck"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-register">
                <label asp-for="ConfirmPassword" class="quck"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="register-button">
                <button type="submit" class="btn-register">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
